<%- include('partials/header'); -%>

<% if(user!=null&&user.usertype=='buyer'){ %>


<div class="container">

    <h3 class="row-name">Your Cart</h3>            
    <div class="row mx-auto my-3">

    <% if(user!=[])
    { console.log(user.cart);
      user.cart.forEach(item=>{ %>

    
        <div class="col-lg-3 my-1" onclick="window.location.href='/'">
          <div class="card border-dark">
              <img src= <%=item.url %> width="500" height="300" id="card-img" class="card-img-top img-fluid" onerror="this.onerror=null; this.src='https://cdn.jpegmini.com/user/images/slider_puffin_jpegmini_mobile.jpg'">
              <div class="card-block bg-dark text-white px-4">
                  <h3 class="card-title"><%=item.prodname %> &nbsp&nbsp x<%=item.quantity%></h3>                               
              </div>
          </div>
      </div>
    
    
  <%  })} %>

    </div>

    <!-- <button id="buyall">Buy All</button> -->

</div>

<% } else { %><p>404 not found</p> <% } %>


<script>
    const buyall=document.getElementById("buyall");

    async function buyAllItems(){
    try {
      const res = await fetch('/buycart', { 
        method: 'GET', 
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data) {
          window.location='/';
        }
    }
    catch (err) {
      console.log(err);
    }
  }


  /* buyall.addEventListener('click',(e)=>{
      e.preventDefault();

      buyAllItems();


    }) */

</script>


</body>
</html>