<%- include('partials/header'); -%>

<% if (user!=null&&user.usertype=='seller') { %>

    <div id="main-container"> 

        <form action="/newitem">
            <div>
                <input type="text" id="itemname" placeholder="Product Name" name="itemname" required>
            </div>
            <div>
                <input type="text" id="itemdesc" placeholder="Product Description" name="itemdesc" required>
            </div>
            <div>
                <input type="number" name="quantity" placeholder="Quantity" required>
            </div>
            <div>
              <input type="number" name="price" placeholder="Price" required>
            </div>
            <div>
              <input type="text" name="url" placeholder="Image URL" required>
            </div>
            <div>
                <button class="my-3" id="additem">Add</button>
            </div>
        </form>

    </div>



<% } else { %>

    <div id="main-container"> 

        <p>404 not found</p>
    
    </div>

<% } %>

<script>
    const form = document.querySelector('form');

  
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
  
      const itemname = form.itemname.value;
      const itemdesc = form.itemdesc.value;
      const price = form.price.value;
      const quantity = form.quantity.value;
      const url = form.url.value;
      const userid=document.getElementById("userid").innerHTML;

      var data;
  
  
      try {
        const res = await fetch('/newitem', { 
          method: 'POST', 
          body: JSON.stringify({ itemname, itemdesc, price, quantity, userid, url }),
          headers: {'Content-Type': 'application/json'}
        });
        data = await res.json();
        console.log(data);

        if (data) {
          window.location='/';
        }
  
      }
      catch (err) {
        console.log(err);
      }
  
    });
  </script>
</body>
</html>