<%- include('partials/header'); -%>

<p>welcome <%= user.username %> , we pimp chimpin!!</p>
<button id="secretcartitem">press me</button>


</body>
<script>
    const btn=document.getElementById("secretcartitem");

    btn.addEventListener('click',async(e)=>{
        e.preventDefault();

    try {
        const res = await fetch('/updatecart', { 
        method: 'POST'
      });
      const data = await res.json();
      window.location.href = data.redirect;

    }
    catch (err) {
      console.log(err);
    }

    });
</script>
</html>
