/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
 */
body{
  margin: 0px 0px 0px 0px;
  background: #fafafa;
  
}

a{
  text-decoration: none;
}


header {
display: block;
    margin-bottom: 40px;
    width: 100%;
    height: 120px;
    background-color: #FEE996;
    border-bottom: 2px solid black;
}

#index{
  margin-left: 30px;
  font-size: 5em;
  text-align: left;
}

#headerbtns{
  position: absolute;
  right: 20px;
}

#login,#logout,#signup{
  font-size: 3em;

}

#sidenav {
  height: 90%;
  width: 225px; 
  position: fixed; 
  z-index: 1; 
  top: 120px;
  left: 0;
  font-size: 1.5em;
  background-color: #FEE996; 
  overflow-x: hidden; 
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 100%;
}

#main-container{
  margin-left: 260px;
}